{
    "openapi": "3.1.0",
    "info": {
        "title": "Husqy.modules.tempchannels",
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://api.husqy.xyz/"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "summary": "Home Endpoint For The Husqy.Modules.Tempchannels Microservice",
                "description": "Home endpoint for the Husqy.general microservice",
                "operationId": "Home_endpoint_for_the_Husqy_modules_tempchannels_microservice__get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_HomeResponse_"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/status": {
            "get": {
                "tags": [
                    "Status"
                ],
                "summary": "Get The Status Of The Tempchannels Module",
                "description": "Status endpoint for the Husqy.modules.welcoming microservice",
                "operationId": "Get_the_status_of_the_tempchannels_module_status_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_StatusGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/disable": {
            "post": {
                "tags": [
                    "Status"
                ],
                "summary": "Disable The Tempchannels Module",
                "description": "Enable the tempchannels module for a server",
                "operationId": "Disable_the_tempchannels_module_disable_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DisablePostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_DisablePostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/enable": {
            "post": {
                "tags": [
                    "Status"
                ],
                "summary": "Enable The Tempchannels Module",
                "description": "Enable the tempchannels module for a server",
                "operationId": "Enable_the_tempchannels_module_enable_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EnablePostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EnablePostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/settings": {
            "delete": {
                "tags": [
                    "Settings"
                ],
                "summary": "Delete The Settings Of The Tempchannels Module In A Server",
                "description": "Delete the settings for Husqy tempchannels module for a guild",
                "operationId": "Delete_the_settings_of_the_tempchannels_module_in_a_server_settings_delete",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SettingsDeleteRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_SettingsDeleteResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/creation-channels": {
            "get": {
                "tags": [
                    "Creation channels"
                ],
                "summary": "Get The Creation Channels In A Server",
                "description": "Get the creation channels for Husqy tempchannels module for a guild",
                "operationId": "Get_the_creation_channels_in_a_server_creation_channels_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_CreationChannelsGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Creation channels"
                ],
                "summary": "Create A New Creation Channel",
                "description": "Create a creation channel for Husqy tempchannels module for a guild",
                "operationId": "Create_a_new_creation_channel_creation_channels_post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ModuleTempchannelsCreationCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_CreationChannelPostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/creation-channels/{creation_channel_id}": {
            "get": {
                "tags": [
                    "Creation channels"
                ],
                "summary": "Get The Configuration Of A Creation Channel",
                "description": "Get the response for Husqy tempchannels module for a guild",
                "operationId": "Get_the_configuration_of_a_creation_channel_creation_channels__creation_channel_id__get",
                "parameters": [
                    {
                        "name": "creation_channel_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Creation Channel Id"
                        }
                    },
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_CreationChannelsCreationChannelIdGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Creation channels"
                ],
                "summary": "Delete A Creation Channel",
                "description": "Delete the creation channel for Husqy tempchannels module for a guild",
                "operationId": "Delete_a_creation_channel_creation_channels__creation_channel_id__delete",
                "parameters": [
                    {
                        "name": "creation_channel_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Creation Channel Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreationChannelsCreationChannelIdDeleteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_CreationChannelsCreationChannelIdDeleteResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Creation channels"
                ],
                "summary": "Update A Creation Channels Configuration",
                "description": "Edit the creation channel for Husqy tempchannels module for a guild",
                "operationId": "Update_a_creation_channels_configuration_creation_channels__creation_channel_id__put",
                "parameters": [
                    {
                        "name": "creation_channel_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Creation Channel Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ModuleTempchannelsCreationUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_CreationChannelsCreationChannelIdPutResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/creation-channels/check-manual-delete": {
            "post": {
                "tags": [
                    "Creation channels"
                ],
                "summary": "Delete A Creation Channel If The Deleted Channel Is A Creation Channel",
                "description": "Create a creation channel for Husqy tempchannels module for a guild",
                "operationId": "Delete_a_creation_channel_if_the_deleted_channel_is_a_creation_channel_creation_channels_check_manual_delete_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CheckManualDeletePostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_CheckManualDeletePostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tempchannels/check/create": {
            "post": {
                "tags": [
                    "Tempchannels"
                ],
                "summary": "Create A New Tempchannel",
                "description": "Check if a tempchannel has to be created for a guild",
                "operationId": "Create_a_new_tempchannel_tempchannels_check_create_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TempchannelsCheckCreatePostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_TempchannelsCheckCreatePostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tempchannels/check/delete": {
            "post": {
                "tags": [
                    "Tempchannels"
                ],
                "summary": "Delete A Tempchannel",
                "description": "Check if a tempchannel has to be created for a guild",
                "operationId": "Delete_a_tempchannel_tempchannels_check_delete_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TempchannelsCheckDeletePostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_TempchannelsCheckDeletePostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tempchannels/check/manual-delete": {
            "post": {
                "tags": [
                    "Tempchannels"
                ],
                "summary": "Check If A Deleted Channel Was A Tempchannel And Delete The Configuration",
                "description": "Check if a tempchannel is manually deleted from a guild",
                "operationId": "Check_if_a_deleted_channel_was_a_tempchannel_and_delete_the_configuration_tempchannels_check_manual_delete_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TempchannelsCheckManualDeletePostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_TempchannelsCheckManualDeletePostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tempchannels/check/set-last-activity": {
            "post": {
                "tags": [
                    "Tempchannels"
                ],
                "summary": "Update The Last Activity Timestamp Of A Temporary Text Channel",
                "description": "Check if a tempchannel is manually deleted from a guild",
                "operationId": "Update_the_last_activity_timestamp_of_a_temporary_text_channel_tempchannels_check_set_last_activity_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TempchannelsCheckSetLastActivityPostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_TempchannelsCheckSetLastActivityPostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tempchannels": {
            "get": {
                "tags": [
                    "Tempchannels"
                ],
                "summary": "Get All Tempchannels In A Server",
                "description": "Get the tempchannels for Husqy tempchannels module for a guild",
                "operationId": "Get_all_tempchannels_in_a_server_tempchannels_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_TempchannelsGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tempchannels/{tempchannel_id}": {
            "get": {
                "tags": [
                    "Tempchannels"
                ],
                "summary": "Get A Tempchannels Information",
                "description": "Get the tempchannel for Husqy tempchannels module for a guild",
                "operationId": "Get_a_tempchannels_information_tempchannels__tempchannel_id__get",
                "parameters": [
                    {
                        "name": "tempchannel_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Tempchannel Id"
                        }
                    },
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_TempchannelsTempchannelIdGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tempchannels/edit/add-block-rule": {
            "post": {
                "tags": [
                    "Tempchannel edits"
                ],
                "summary": "Add A Block Rule To A Tempchannel (Owner Only)",
                "description": "Enable the tempchannels module for a server",
                "operationId": "Add_a_block_rule_to_a_tempchannel__owner_only__tempchannels_edit_add_block_rule_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TempchannelsEditAddBlockRulePostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_TempchannelsEditAddBlockRulePostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tempchannels/edit/add-trust-rule": {
            "post": {
                "tags": [
                    "Tempchannel edits"
                ],
                "summary": "Add A Trust Rule To A Tempchannel (Owner Only)",
                "description": "Enable the tempchannels module for a server",
                "operationId": "Add_a_trust_rule_to_a_tempchannel__owner_only__tempchannels_edit_add_trust_rule_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TempchannelsEditAddTrustRulePostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
[...]
