{
    "openapi": "3.1.0",
    "info": {
        "title": "Husqy.modules.rules",
        "version": "2.3.0"
    },
    "servers": [
        {
            "url": "https://api.husqy.xyz/v1/modules/rules"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "summary": "Home Endpoint For The Husqy.Modules.Rules Microservice",
                "description": "Home endpoint for the Husqy.general microservice.",
                "operationId": "Home_endpoint_for_the_Husqy_modules_rules_microservice__get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_HomeResponse_"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/livez": {
            "get": {
                "summary": "Liveliness Endpoint For The Husqy.Modules.Rules Microservice",
                "description": "Liveliness endpoint for the Husqy.modules.rules microservice.",
                "operationId": "Liveliness_endpoint_for_the_Husqy_modules_rules_microservice_livez_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_LivezResponse_"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/readyz": {
            "get": {
                "summary": "Readiness Endpoint For The Husqy.Modules.Rules Microservice",
                "description": "Readiness endpoint for the Husqy.modules.rules microservice.",
                "operationId": "Readiness_endpoint_for_the_Husqy_modules_rules_microservice_readyz_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_ReadyzResponse_"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service Unavailable",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/status": {
            "get": {
                "tags": [
                    "Status"
                ],
                "summary": "Get The Status Of The Rules Module In A Server",
                "description": "Status endpoint for the Husqy.modules.rules microservice.",
                "operationId": "Get_the_status_of_the_rules_module_in_a_server_status_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_StatusGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Unauthorized"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/enable": {
            "post": {
                "tags": [
                    "Status"
                ],
                "summary": "Enable The Rules Module In A Server",
                "description": "Enable the rules module for a server.",
                "operationId": "Enable_the_rules_module_in_a_server_enable_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EnablePostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EnablePostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/disable": {
            "post": {
                "tags": [
                    "Status"
                ],
                "summary": "Disable The Rules Module",
                "description": "Enable the rules module for a server.",
                "operationId": "Disable_the_rules_module_disable_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DisablePostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_DisablePostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/settings": {
            "get": {
                "tags": [
                    "Settings"
                ],
                "summary": "Get The Settings Of The Rules Module In A Server",
                "description": "Get the settings for Husqy rules module for a guild.",
                "operationId": "Get_the_settings_of_the_rules_module_in_a_server_settings_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_SettingsGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Unauthorized"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Settings"
                ],
                "summary": "Delete The Settings Of The Rules Module In A Server",
                "description": "Delete the settings for Husqy rules module for a guild.",
                "operationId": "Delete_the_settings_of_the_rules_module_in_a_server_settings_delete",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SettingsDeleteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_SettingsDeleteResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Unauthorized"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "Settings"
                ],
                "summary": "Update The Settings Of The Rules Module In A Server",
                "description": "Change the settings for Husqy rules module for a guild.",
                "operationId": "Update_the_settings_of_the_rules_module_in_a_server_settings_put",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ModuleRulesUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_SettingsPutResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Unauthorized"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/entries": {
            "get": {
                "tags": [
                    "Rules"
                ],
                "summary": "Get All Current Rules Entries In A Server",
                "description": "Get the entry for Husqy rules module for a guild.",
                "operationId": "Get_all_current_rules_entries_in_a_server_entries_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Unauthorized"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Rules"
                ],
                "summary": "Create A New Rule",
                "description": "Get the response for Husqy rules module for a guild.",
                "operationId": "Create_a_new_rule_entries_post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntriesPostRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesPostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Unauthorized"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "409": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Conflict"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/entries/{entry_id}": {
            "get": {
                "tags": [
                    "Rules"
                ],
                "summary": "Get The Info About A Rule",
                "description": "Get the response for Husqy rules module for a guild.",
                "operationId": "Get_the_info_about_a_rule_entries__entry_id__get",
                "parameters": [
                    {
                        "name": "entry_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Entry Id"
                        }
                    },
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesEntryIdGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Unauthorized"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Rules"
                ],
                "summary": "Delete A Rule",
                "description": "Get the response for Husqy rules module for a guild.",
                "operationId": "Delete_a_rule_entries__entry_id__delete",
                "parameters": [
                    {
                        "name": "entry_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Entry Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntriesEntryIdDeleteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesEntryIdDeleteResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Unauthorized"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/check/interaction": {
            "post": {
                "tags": [
                    "Check"
                ],
                "summary": "Check If The Rules Of The Server Need To Be Interaction",
                "description": "Handle a verification for Husqy verifier module for a guild.",
                "operationId": "Check_if_the_rules_of_the_server_need_to_be_interaction_check_interaction_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CheckInteractionPostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_CheckInteractionPostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/check/send": {
            "post": {
                "tags": [
                    "Check"
                ],
                "summary": "Check If The Rules Of The Server Need To Be Send",
                "description": "Handle a verification for Husqy verifier module for a guild.",
                "operationId": "Check_if_the_rules_of_the_server_need_to_be_send_check_send_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CheckSendPostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_CheckSendPostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/privacy/get-user-entries": {
            "get": {
                "tags": [
                    "Privacy"
                ],
                "summary": "Get The Privacy Data Of A User For The Husqy.Modules.Rules Microservice",
                "description": "Get user entries.",
                "operationId": "Get_the_privacy_data_of_a_user_for_the_Husqy_modules_rules_microservice_privacy_get_user_entries_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    },
                    {
                        "name": "privacy_member_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Privacy Member Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_GetUserEntriesGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Bad Request"
                    },
                    "401": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Unauthorized"
                    },
                    "403": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Forbidden"
                    },
                    "404": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Not Found"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        },
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/privacy/delete-user-entries": {
            "delete": {
                "tags": [
                    "Privacy"
                ],
                "summary": "Delete The Privacy Data Of A User For The Husqy.Modules.Rules Microservice",
                "description": "Delete user entries.",
                "operationId": "Delete_the_privacy_data_of_a_user_for_the_Husqy_modules_rules_microservice_privacy_delete_user_entries_delete",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteUserEntriesDeleteRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_DeleteUserEntriesDeleteResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProblemDetailsBase"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ApiResponse_CheckInteractionPostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/CheckInteractionPostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[CheckInteractionPostResponse]"
            },
            "ApiResponse_CheckSendPostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/CheckSendPostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[CheckSendPostResponse]"
            },
            "ApiResponse_DeleteUserEntriesDeleteResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/DeleteUserEntriesDeleteResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[DeleteUserEntriesDeleteResponse]"
            },
            "ApiResponse_DisablePostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/DisablePostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[DisablePostResponse]"
            },
            "ApiResponse_EnablePostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EnablePostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EnablePostResponse]"
            },
            "ApiResponse_EntriesEntryIdDeleteResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesEntryIdDeleteResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesEntryIdDeleteResponse]"
            },
            "ApiResponse_EntriesEntryIdGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesEntryIdGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesEntryIdGetResponse]"
            },
            "ApiResponse_EntriesGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesGetResponse]"
            },
            "ApiResponse_EntriesPostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesPostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesPostResponse]"
            },
            "ApiResponse_GetUserEntriesGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/GetUserEntriesGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[GetUserEntriesGetResponse]"
            },
            "ApiResponse_HomeResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/HomeResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[HomeResponse]"
            },
            "ApiResponse_LivezResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/LivezResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[LivezResponse]"
            },
            "ApiResponse_ReadyzResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ReadyzResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[ReadyzResponse]"
            },
            "ApiResponse_SettingsDeleteResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/SettingsDeleteResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[SettingsDeleteResponse]"
            },
            "ApiResponse_SettingsGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/SettingsGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[SettingsGetResponse]"
            },
            "ApiResponse_SettingsPutResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/SettingsPutResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[SettingsPutResponse]"
            },
            "ApiResponse_StatusGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/StatusGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[StatusGetResponse]"
            },
            "CheckInteractionPostRequest": {
                "properties": {
                    "message_id": {
                        "type": "integer",
                        "title": "Message Id"
                    },
                    "channel_id": {
                        "type": "integer",
                        "title": "Channel Id"
                    },
                    "interaction_custom_id": {
                        "type": "string",
                        "title": "Interaction Custom Id"
                    },
                    "interaction_id_token": {
                        "type": "string",
                        "title": "Interaction Id Token"
                    },
                    "application_id": {
                        "type": "integer",
                        "title": "Application Id"
                    }
                },
                "type": "object",
                "required": [
                    "message_id",
                    "channel_id",
                    "interaction_custom_id",
                    "interaction_id_token",
                    "application_id"
                ],
                "title": "CheckInteractionPostRequest"
            },
            "CheckInteractionPostResponse": {
                "properties": {
                    "message": {
                        "type": "string",
                        "title": "Message"
                    }
                },
                "type": "object",
                "required": [
                    "message"
                ],
                "title": "CheckInteractionPostResponse"
            },
            "CheckSendPostRequest": {
                "properties": {
                    "guild_id": {
                        "type": "integer",
                        "title": "Guild Id"
                    },
                    "requester": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Requester"
                    },
                    "application_id": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Application Id"
                    },
                    "token": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Token"
                    }
                },
                "type": "object",
                "required": [
                    "guild_id"
                ],
                "title": "CheckSendPostRequest"
            },
            "CheckSendPostResponse": {
                "properties": {
                    "message": {
                        "type": "string",
                        "title": "Message"
                    }
                },
                "type": "object",
                "required": [
                    "message"
                ],
                "title": "CheckSendPostResponse"
            },
            "DeleteUserEntriesDeleteRequest": {
                "properties": {
                    "guild_id": {
                        "type": "integer",
                        "title": "Guild Id"
                    },
                    "privacy_member_id": {
                        "type": "integer",
                        "title": "Privacy Member Id"
                    }
                },
                "type": "object",
                "required": [
                    "guild_id",
                    "privacy_member_id"
                ],
                "title": "DeleteUserEntriesDeleteRequest"
            },
            "DeleteUserEntriesDeleteResponse": {
                "properties": {
                    "message": {
                        "type": "string",
                        "title": "Message"
                    }
                },
                "type": "object",
                "required": [
                    "message"
                ],
                "title": "DeleteUserEntriesDeleteResponse"
            },
            "DisablePostRequest": {
                "properties": {
                    "guild_id": {
                        "type": "integer",
                        "title": "Guild Id"
                    }
                },
                "type": "object",
                "required": [
                    "guild_id"
                ],
                "title": "DisablePostRequest"
            },
            "DisablePostResponse": {
                "properties": {
                    "settings": {
                        "$ref": "#/components/schemas/Module_Rules"
                    },
                    "rules": {
                        "items": {
                            "$ref": "#/components/schemas/Module_Rules_Entries"
                        },
                        "type": "array",
                        "title": "Rules"
                    },
                    "active_entries": {
                        "items": {
                            "$ref": "#/components/schemas/Module_Rules_Active_Entries"
                        },
                        "type": "array",
                        "title": "Active Entries"
                    }
                },
                "type": "object",
                "required": [
                    "settings",
                    "rules",
                    "active_entries"
                ],
                "title": "DisablePostResponse"
            },
            "EnablePostRequest": {
                "properties": {
                    "guild_id": {
                        "type": "integer",
                        "title": "Guild Id"
                    }
                },
                "type": "object",
                "required": [
                    "guild_id"
                ],
                "title": "EnablePostRequest"
            },
            "EnablePostResponse": {
                "properties": {
                    "settings": {
                        "$ref": "#/components/schemas/Module_Rules"
                    },
                    "rules": {
                        "items": {
                            "$ref": "#/components/schemas/Module_Rules_Entries"
                        },
                        "type": "array",
                        "title": "Rules"
                    },
                    "active_entries": {
                        "items": {
                            "$ref": "#/components/schemas/Module_Rules_Active_Entries"
                        },
                        "type": "array",
                        "title": "Active Entries"
                    }
                },
                "type": "object",
                "required": [
                    "settings",
                    "rules",
                    "active_entries"
                ],
                "title": "EnablePostResponse"
            },
            "EntriesEntryIdDeleteRequest": {
                "properties": {
                    "guild_id": {
                        "type": "integer",
                        "title": "Guild Id"
                    },
                    "application_id": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Application Id"
                    },
                    "token": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Token"
                    }
                },
                "type": "object",
                "required": [
                    "guild_id"
                ],
                "title": "EntriesEntryIdDeleteRequest"
            },
            "EntriesEntryIdDeleteResponse": {
                "properties": {
                    "entry": {
                        "$ref": "#/components/schemas/Module_Rules_Entries"
                    }
                },
                "type": "object",
                "required": [
                    "entry"
                ],
                "title": "EntriesEntryIdDeleteResponse"
            },
            "EntriesEntryIdGetResponse": {
                "properties": {
                    "entry": {
                        "$ref": "#/components/schemas/Module_Rules_Entries"
                    }
                },
                "type": "object",
                "required": [
                    "entry"
                ],
                "title": "EntriesEntryIdGetResponse"
            },
            "EntriesGetResponse": {
                "properties": {
                    "entries": {
                        "items": {
                            "$ref": "#/components/schemas/Module_Rules_Entries"
                        },
                        "type": "array",
                        "title": "Entries"
                    }
                },
                "type": "object",
                "required": [
                    "entries"
                ],
                "title": "EntriesGetResponse"
            },
            "EntriesPostRequest": {
                "properties": {
                    "guild_id": {
                        "type": "integer",
                        "title": "Guild Id"
                    },
                    "rule_text": {
                        "type": "string",
                        "title": "Rule Text"
                    },
                    "application_id": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Application Id"
                    },
                    "token": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Token"
                    }
                },
                "type": "object",
                "required": [
                    "guild_id",
                    "rule_text"
                ],
                "title": "EntriesPostRequest"
            },
            "EntriesPostResponse": {
                "properties": {
                    "entry": {
                        "$ref": "#/components/schemas/Module_Rules_Entries"
                    }
                },
                "type": "object",
                "required": [
                    "entry"
                ],
                "title": "EntriesPostResponse"
            },
            "GetUserEntriesGetResponse": {
                "properties": {
                    "username": {
                        "type": "integer",
                        "title": "Username"
                    },
                    "display_name": {
                        "type": "integer",
                        "title": "Display Name"
                    },
                    "global_name": {
                        "type": "integer",
                        "title": "Global Name"
                    },
                    "nickname": {
                        "type": "integer",
                        "title": "Nickname"
                    },
                    "id": {
                        "type": "integer",
                        "title": "Id"
                    }
                },
                "type": "object",
                "required": [
                    "username",
                    "display_name",
                    "global_name",
                    "nickname",
                    "id"
                ],
                "title": "GetUserEntriesGetResponse"
            },
            "HTTPValidationError": {
                "properties": {
                    "detail": {
                        "items": {
                            "$ref": "#/components/schemas/ValidationError"
                        },
                        "type": "array",
                        "title": "Detail"
                    }
                },
                "type": "object",
                "title": "HTTPValidationError"
            },
            "HomeResponse": {
                "properties": {
                    "message": {
                        "type": "string",
                        "title": "Message"
                    }
                },
                "type": "object",
                "required": [
                    "message"
                ],
                "title": "HomeResponse"
            },
            "LivezResponse": {
                "properties": {
                    "status": {
                        "type": "string",
                        "title": "Status"
                    }
                },
                "type": "object",
                "required": [
                    "status"
                ],
                "title": "LivezResponse"
            },
            "ModuleRulesUpdate": {
                "properties": {
                    "guild_id": {
                        "type": "integer",
                        "title": "Guild Id"
                    },
                    "rules_channel": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Rules Channel"
                    },
                    "rules_actions_enabled": {
                        "anyOf": [
                            {
                                "type": "boolean"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Rules Actions Enabled"
                    },
                    "rules_accepted_role_ids": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "integer"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Rules Accepted Role Ids"
                    },
                    "rules_denied_action": {
                        "anyOf": [
                            {
                                "type": "integer"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Rules Denied Action"
                    },
                    "rules_denied_role_ids": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "integer"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Rules Denied Role Ids"
                    }
                },
                "type": "object",
                "required": [
                    "guild_id"
                ],
                "title": "ModuleRulesUpdate"
            },
            "Module_Rules": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "title": "Id"
                    },
                    "guild_id": {
                        "type": "string",
                        "title": "Guild Id"
                    },
                    "rules_channel": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Rules Channel"
                    },
                    "rules_actions_enabled": {
                        "type": "boolean",
                        "title": "Rules Actions Enabled",
                        "default": true
                    },
                    "rules_accepted_role_ids": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Rules Accepted Role Ids"
                    },
                    "rules_denied_action": {
                        "type": "integer",
                        "title": "Rules Denied Action",
                        "default": 1
                    },
                    "rules_denied_role_ids": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Rules Denied Role Ids"
                    },
                    "rules_message_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Rules Message Id"
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "guild_id"
                ],
                "title": "Module_Rules"
            },
            "Module_Rules_Active_Entries": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "title": "Id"
                    },
                    "guild_id": {
                        "type": "string",
                        "title": "Guild Id"
                    },
                    "channel_id": {
                        "type": "string",
                        "title": "Channel Id"
                    },
                    "message_id": {
                        "type": "string",
                        "title": "Message Id"
                    },
                    "user_id": {
                        "type": "string",
                        "title": "User Id"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Timestamp"
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "guild_id",
                    "channel_id",
                    "message_id",
                    "user_id"
                ],
                "title": "Module_Rules_Active_Entries"
            },
            "Module_Rules_Entries": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "title": "Id"
                    },
                    "guild_id": {
                        "type": "string",
                        "title": "Guild Id"
                    },
                    "rule_id": {
                        "type": "string",
                        "title": "Rule Id"
                    },
                    "rule_text": {
                        "type": "string",
                        "title": "Rule Text"
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "guild_id",
                    "rule_id",
                    "rule_text"
                ],
                "title": "Module_Rules_Entries"
            },
            "ProblemDetailsBase": {
                "properties": {
                    "type": {
                        "type": "string",
                        "title": "Type",
                        "default": "https://example.com"
                    },
                    "title": {
                        "type": "string",
                        "title": "Title"
                    },
                    "status": {
                        "type": "integer",
                        "title": "Status"
                    },
                    "detail": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Detail"
                    },
                    "message": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Message"
                    },
                    "errors": {
                        "anyOf": [
                            {
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Errors"
                    }
                },
                "type": "object",
                "required": [
                    "title",
                    "status",
                    "detail",
                    "message"
                ],
                "title": "ProblemDetailsBase",
                "description": "Base problem details model for a standardized response."
            },
            "ReadyzResponse": {
                "properties": {
                    "status": {
                        "type": "string",
                        "title": "Status"
                    }
                },
                "type": "object",
                "required": [
                    "status"
                ],
                "title": "ReadyzResponse"
            },
            "SettingsDeleteRequest": {
                "properties": {
                    "guild_id": {
                        "type": "integer",
                        "title": "Guild Id"
                    }
                },
                "type": "object",
                "required": [
                    "guild_id"
                ],
                "title": "SettingsDeleteRequest"
            },
            "SettingsDeleteResponse": {
                "properties": {
                    "settings": {
                        "$ref": "#/components/schemas/Module_Rules"
                    },
                    "rules": {
                        "items": {
                            "$ref": "#/components/schemas/Module_Rules_Entries"
                        },
                        "type": "array",
                        "title": "Rules"
                    },
                    "active_entries": {
                        "items": {
                            "$ref": "#/components/schemas/Module_Rules_Active_Entries"
                        },
                        "type": "array",
                        "title": "Active Entries"
                    }
                },
                "type": "object",
                "required": [
                    "settings",
                    "rules",
                    "active_entries"
                ],
                "title": "SettingsDeleteResponse"
            },
            "SettingsGetResponse": {
                "properties": {
                    "settings": {
                        "$ref": "#/components/schemas/Module_Rules"
                    }
                },
                "type": "object",
                "required": [
                    "settings"
                ],
                "title": "SettingsGetResponse"
            },
            "SettingsPutResponse": {
                "properties": {
                    "settings": {
                        "$ref": "#/components/schemas/Module_Rules"
                    }
                },
                "type": "object",
                "required": [
                    "settings"
                ],
                "title": "SettingsPutResponse"
            },
            "StatusGetResponse": {
                "properties": {
                    "status": {
                        "type": "boolean",
                        "title": "Status"
                    }
                },
                "type": "object",
                "required": [
                    "status"
                ],
                "title": "StatusGetResponse"
            },
            "ValidationError": {
                "properties": {
                    "loc": {
                        "items": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "integer"
                                }
                            ]
                        },
                        "type": "array",
                        "title": "Location"
                    },
                    "msg": {
                        "type": "string",
                        "title": "Message"
                    },
                    "type": {
                        "type": "string",
                        "title": "Error Type"
                    }
                },
                "type": "object",
                "required": [
                    "loc",
                    "msg",
                    "type"
                ],
                "title": "ValidationError"
            }
        }
    },
    "tags": [
        {
            "name": "Settings",
            "description": "Operations related to the settings of the rules module"
        },
        {
            "name": "Status",
            "description": "Operations related to the status of the rules module"
        },
        {
            "name": "Rules",
            "description": "Operations related to rules entries"
        },
        {
            "name": "Check",
            "description": "Operations related to rules interactions entries"
        },
        {
            "name": "Privacy",
            "description": "Operations for a users privacy data"
        }
    ]
}