.contentHighlight {
    width: 100dvw !important;
}

/* Styles */
.contentHighlight_primary {
    background-color: var(--primary-color-1);
}

.contentHighlight_secondary {
    background-color: var(--accent-color-2);
}