{
    "openapi": "3.1.0",
    "info": {
        "title": "Husqy.modules.polls",
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://api.husqy.xyz/v1/modules/polls"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "summary": "Home Endpoint For The Husqy.Modules.Polls Microservice",
                "description": "Home endpoint for the Husqy.modules.polls microservice",
                "operationId": "Home_endpoint_for_the_Husqy_modules_polls_microservice__get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_HomeResponse_"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/status": {
            "get": {
                "tags": [
                    "Status"
                ],
                "summary": "Get The Status Of The Polls Module In A Server",
                "description": "Status endpoint for the Husqy.modules.polls microservice",
                "operationId": "Get_the_status_of_the_polls_module_in_a_server_status_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_StatusGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/disable": {
            "post": {
                "tags": [
                    "Status"
                ],
                "summary": "Disable The Polls Module",
                "description": "Enable the polls module for a server",
                "operationId": "Disable_the_polls_module_disable_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DisablePostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_DisablePostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/enable": {
            "post": {
                "tags": [
                    "Status"
                ],
                "summary": "Enable The Polls Module In A Server",
                "description": "Enable the polls module for a server",
                "operationId": "Enable_the_polls_module_in_a_server_enable_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EnablePostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EnablePostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/settings": {
            "get": {
                "tags": [
                    "Settings"
                ],
                "summary": "Get The Settings Of The Polls Module In A Server",
                "description": "Get the settings for Husqy polls module for a guild",
                "operationId": "Get_the_settings_of_the_polls_module_in_a_server_settings_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_SettingsGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Settings"
                ],
                "summary": "Delete The Settings Of The Polls Module In A Server",
                "description": "Delete the settings for Husqy polls module for a guild",
                "operationId": "Delete_the_settings_of_the_polls_module_in_a_server_settings_delete",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SettingsDeleteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_SettingsDeleteResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Settings"
                ],
                "summary": "Update The Settings Of The Polls Module In A Server",
                "description": "Change the settings for Husqy polls module for a guild",
                "operationId": "Update_the_settings_of_the_polls_module_in_a_server_settings_put",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ModulePollsUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_SettingsPutResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entries": {
            "get": {
                "tags": [
                    "Entries"
                ],
                "summary": "Get All Polls Entries In A Server",
                "description": "Get the entries for Husqy polls module for a guild",
                "operationId": "Get_all_polls_entries_in_a_server_entries_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Entries"
                ],
                "summary": "Create A New Poll",
                "description": "Get the response for Husqy polls module for a guild",
                "operationId": "Create_a_new_poll_entries_post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntriesPostRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesPostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entries/{entry_id}": {
            "get": {
                "tags": [
                    "Entries"
                ],
                "summary": "Get The Info About A Poll",
                "description": "Get the response for Husqy polls module for a guild",
                "operationId": "Get_the_info_about_a_poll_entries__entry_id__get",
                "parameters": [
                    {
                        "name": "entry_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Entry Id"
                        }
                    },
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesEntryIdGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Entries"
                ],
                "summary": "Send A Polls Content",
                "description": "Get the response for Husqy polls module for a guild",
                "operationId": "Send_a_polls_content_entries__entry_id__put",
                "parameters": [
                    {
                        "name": "entry_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Entry Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntriesEntryIdPutRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesEntryIdPutResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Entries"
                ],
                "summary": "Delete A Poll",
                "description": "Delete a poll in a guild",
                "operationId": "Delete_a_poll_entries__entry_id__delete",
                "parameters": [
                    {
                        "name": "entry_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Entry Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntriesEntryIdDeleteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesEntryIdDeleteResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entries/{entry_id}/close": {
            "post": {
                "tags": [
                    "Entries"
                ],
                "summary": "Close A Poll",
                "description": "Close a poll in a guild",
                "operationId": "Close_a_poll_entries__entry_id__close_post",
                "parameters": [
                    {
                        "name": "entry_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Entry Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntriesEntryIdClosePostRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesEntryIdClosePostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entry/delete-poll-on-message-delete": {
            "delete": {
                "tags": [
                    "Entries"
                ],
                "summary": "Close A Poll",
                "description": "Close a poll in a guild",
                "operationId": "Close_a_poll_entry_delete_poll_on_message_delete_delete",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntriesDeletePollOnMessageDeleteDeleteRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesDeletePollOnMessageDeleteDeleteResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entry/vote": {
            "post": {
                "tags": [
                    "Entries"
                ],
                "summary": "Vote For A Poll Answer",
                "description": "Close a poll in a guild",
                "operationId": "Vote_for_a_poll_answer_entry_vote_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntriesVotePostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesVotePostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/privacy/get-user-entries": {
            "get": {
                "tags": [
                    "Privacy"
                ],
                "summary": "Get The Privacy Data Of A User For The Husqy.Modules.Polls Microservice",
                "description": "Get user entries",
                "operationId": "Get_the_privacy_data_of_a_user_for_the_Husqy_modules_polls_microservice_privacy_get_user_entries_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    },
                    {
                        "name": "privacy_member_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Privacy Member Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_GetUserEntriesGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/privacy/delete-user-entries": {
            "delete": {
                "tags": [
                    "Privacy"
                ],
                "summary": "Delete The Privacy Data Of A User For The Husqy.Modules.Polls Microservice",
                "description": "Delete user entries",
                "operationId": "Delete_the_privacy_data_of_a_user_for_the_Husqy_modules_polls_microservice_privacy_delete_user_entries_delete",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    },
                    {
                        "name": "privacy_member_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Privacy Member Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_DeleteUserEntriesDeleteResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ApiResponse_DeleteUserEntriesDeleteResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/DeleteUserEntriesDeleteResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[DeleteUserEntriesDeleteResponse]"
            },
            "ApiResponse_DisablePostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/DisablePostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[DisablePostResponse]"
            },
            "ApiResponse_EnablePostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EnablePostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EnablePostResponse]"
            },
            "ApiResponse_EntriesDeletePollOnMessageDeleteDeleteResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesDeletePollOnMessageDeleteDeleteResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesDeletePollOnMessageDeleteDeleteResponse]"
            },
            "ApiResponse_EntriesEntryIdClosePostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesEntryIdClosePostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesEntryIdClosePostResponse]"
            },
            "ApiResponse_EntriesEntryIdDeleteResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesEntryIdDeleteResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesEntryIdDeleteResponse]"
            },
            "ApiResponse_EntriesEntryIdGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesEntryIdGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesEntryIdGetResponse]"
            },
            "ApiResponse_EntriesEntryIdPutResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesEntryIdPutResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesEntryIdPutResponse]"
            },
            "ApiResponse_EntriesGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesGetResponse]"
            },
            "ApiResponse_EntriesPostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesPostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesPostResponse]"
            },
            "ApiResponse_EntriesVotePostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesVotePostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesVotePostResponse]"
            },
            "ApiResponse_GetUserEntriesGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/GetUserEntriesGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[GetUserEntriesGetResponse]"
            },
            "ApiResponse_HomeResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/HomeResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[HomeResponse]"
            },
            "ApiResponse_SettingsDeleteResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/SettingsDeleteResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[SettingsDeleteResponse]"
            },
            "ApiResponse_SettingsGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/SettingsGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[SettingsGetResponse]"
            },
            "ApiResponse_SettingsPutResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/SettingsPutResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[SettingsPutResponse]"
            },
            "ApiResponse_StatusGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/StatusGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[StatusGetResponse]"
            },
            "DeleteUserEntriesDeleteResponse": {
                "properties": {
                    "message": {
                        "type": "string",
                        "title": "Message"
                    }
                },
                "type": "object",
                "required": [
                    "message"
                ],
                "title": "DeleteUserEntriesDeleteResponse"
            },
            "DisablePostRequest": {
                "properties": {
                    "guild_id": {
                        "type": "integer",
                        "title": "Guild Id"
                    }
                },
                "type": "object",
                "required": [
                    "guild_id"
                ],
                "title": "DisablePostRequest"
            },
            "DisablePostResponse": {
                "properties": {
                    "settings": {
                        "$ref": "#/components/schemas/Module_Polls"
                    },
                    "polls": {
                        "items": {
                            "$ref": "#/components/schemas/Module_Polls_Entries"
                        },
                        "type": "array",
                        "title": "Polls"
                    },
                    "answers": {
                        "items": {
                            "$ref": "#/components/schemas/Module_Polls_Answers"
                        },
                        "type": "array",
                        "title": "Answers"
                    }
                },
                "type": "object",
                "required": [
                    "settings",
                    "polls",
                    "answers"
                ],
                "title": "DisablePostResponse"
            },
            "EnablePostRequest": {
                "properties": {
                    "guild_id": {
                        "type": "integer",
                        "title": "Guild Id"
                    }
                },
                "type": "object",
                "required": [
                    "guild_id"
                ],
                "title": "EnablePostRequest"
            },
            "EnablePostResponse": {
                "properties": {
                    "settings": {
                        "$ref": "#/components/schemas/Module_Polls"
[...]
