.embla {
  overflow: hidden;
  background-color: var(--accent-color-2);
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  padding: 12px;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  margin: auto;
}
