{
    "openapi": "3.1.0",
    "info": {
        "title": "Husqy.general",
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://api.husqy.xyz/"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "summary": "Home Endpoint For The Husqy.General Microservice",
                "description": "Home endpoint for the Husqy.general microservice",
                "operationId": "Home_endpoint_for_the_Husqy_general_microservice__get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_HomeResponse_"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/settings": {
            "get": {
                "tags": [
                    "Settings"
                ],
                "summary": "Get The General Setting Of Husqy In A Server",
                "description": "Get the settings for Husqy for a guild",
                "operationId": "Get_the_general_setting_of_Husqy_in_a_server_settings_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_SettingsGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Settings"
                ],
                "summary": "Edit The General Husqy Settings Of A Server",
                "description": "Change the settings for Husqy for a guild",
                "operationId": "Edit_the_general_Husqy_settings_of_a_server_settings_put",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SettingsUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_SettingsPutResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/authorize": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Authorize An Access Token",
                "description": "Endpoint to validate an access token or api key",
                "operationId": "Authorize_an_access_token_auth_authorize_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AuthorizePostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_AuthorizePostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/validate-user-permissions": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Validate A User Has Access To The Server",
                "description": "Endpoint to validate if a user is allowed to interact with Husqy in a guild.",
                "operationId": "Validate_a_user_has_access_to_the_server_auth_validate_user_permissions_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateUserPermissionsPostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_ValidateUserPermissionsPostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/api-key": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Get All Api Keys In A Server",
                "description": "Endpoint to get api keys for a server",
                "operationId": "Get_all_API_keys_in_a_server_auth_api_key_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_ApiKeysGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Create A New Api Key In The Server",
                "description": "Endpoint to create a new api key for a server",
                "operationId": "Create_a_new_API_key_in_the_server_auth_api_key_post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiKeysPostRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_ApiKeysPostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Delete An Api Key From A Server",
                "description": "Endpoint to get api keys for a server",
                "operationId": "Delete_an_API_key_from_a_server_auth_api_key_delete",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ApiKeysDeleteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_ApiKeysDeleteResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/helpers/get-supported-languages": {
            "get": {
                "tags": [
                    "Helpers"
                ],
                "summary": "Get The Current Supported Languages",
                "description": "Get the languages Husqy supports",
                "operationId": "Get_the_current_supported_languages_helpers_get_supported_languages_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_GetSupportedLanguagesGetResponse_"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/helpers/get-supported-timezones": {
            "get": {
                "tags": [
                    "Helpers"
                ],
                "summary": "Get The Current Supported Timezones",
                "description": "Get the timezones Husqy supports",
                "operationId": "Get_the_current_supported_timezones_helpers_get_supported_timezones_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_GetSupportedTimezonesGetResponse_"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/helpers/get-supported-unit-systems": {
            "get": {
                "tags": [
                    "Helpers"
                ],
                "summary": "Get The Current Supported Unit Systems",
                "description": "Get the unit systems Husqy supports",
                "operationId": "Get_the_current_supported_unit_systems_helpers_get_supported_unit_systems_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_GetSupportedUnitSystemsGetResponse_"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/helpers/get-husqy-for-guild": {
            "get": {
                "tags": [
                    "Helpers"
                ],
                "summary": "Get The Servers Where The User Is In",
                "description": "Get the servers where Husqy is in for the authenticated user",
                "operationId": "Get_the_servers_where_the_user_is_in_helpers_get_husqy_for_guild_get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_GetHusqyForGuildGetResponse_"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "DatabaseError",
                                    "status": 500,
                                    "message": "Something went wrong while interacting with the database! This is usually problem on our end, please report this to us so we can have a look!",
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/helpers/get-guild-roles": {
            "get": {
                "tags": [
                    "Helpers"
                ],
                "summary": "Get The Roles In A Server",
                "description": "Get the roles in a server",
                "operationId": "Get_the_roles_in_a_server_helpers_get_guild_roles_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_GetGuildRolesGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/helpers/get-guild-users": {
            "get": {
                "tags": [
                    "Helpers"
                ],
                "summary": "Get The Users In A Server",
                "description": "Get the users in a server",
                "operationId": "Get_the_users_in_a_server_helpers_get_guild_users_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_GetGuildUsersGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/helpers/get-guild-channels": {
            "get": {
                "tags": [
                    "Helpers"
                ],
                "summary": "Get The Channels In A Server",
                "description": "Get the channels in a server",
                "operationId": "Get_the_channels_in_a_server_helpers_get_guild_channels_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    },
                    {
                        "name": "types",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "default": [],
                            "title": "Types"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_GetGuildChannelsGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/helpers/get-guild-emojis": {
            "get": {
                "tags": [
                    "Helpers"
                ],
                "summary": "Get The Custom Emojis In A Server",
                "description": "Get the roles in a server",
                "operationId": "Get_the_custom_emojis_in_a_server_helpers_get_guild_emojis_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_GetGuildEmojisGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/helpers/get-variable-replaced-content": {
            "get": {
                "tags": [
                    "Helpers"
                ],
                "summary": "Replace Husqy Variables In A Text",
                "description": "Replace variables inside content",
                "operationId": "Replace_Husqy_variables_in_a_text_helpers_get_variable_replaced_content_get",
                "parameters": [
                    {
                        "name": "content",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Content"
                        }
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Language"
                        }
                    },
                    {
                        "name": "timezone",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Timezone"
                        }
                    },
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Guild Id"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "User Id"
                        }
                    },
                    {
                        "name": "channel_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Channel Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_GetVariableReplacedContentGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/privacy/get-user-entries": {
            "get": {
                "tags": [
                    "Privacy"
                ],
                "summary": "Get The Privacy Data Of A User For The Husqy.General Microservice",
                "description": "Get user entries",
                "operationId": "Get_the_privacy_data_of_a_user_for_the_Husqy_general_microservice_privacy_get_user_entries_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    },
                    {
                        "name": "privacy_member_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Privacy Member Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_GetUserEntriesGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/privacy/delete-user-entries": {
            "delete": {
                "tags": [
                    "Privacy"
                ],
                "summary": "Delete The Privacy Data Of A User For The Husqy.General Microservice",
                "description": "Delete user entries",
                "operationId": "Delete_the_privacy_data_of_a_user_for_the_Husqy_general_microservice_privacy_delete_user_entries_delete",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    },
                    {
                        "name": "privacy_member_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Privacy Member Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_DeleteUserEntriesDeleteResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ApiKeysDeleteRequest": {
                "properties": {
                    "guild_id": {
                        "type": "integer",
                        "title": "Guild Id"
                    },
                    "api_key": {
                        "type": "string",
                        "title": "Api Key"
                    }
                },
                "type": "object",
                "required": [
                    "guild_id",
                    "api_key"
                ],
                "title": "ApiKeysDeleteRequest"
            },
            "ApiKeysDeleteResponse": {
                "properties": {
                    "api_key": {
                        "$ref": "#/components/schemas/Api_Keys"
                    }
                },
                "type": "object",
                "required": [
                    "api_key"
                ],
                "title": "ApiKeysDeleteResponse"
            },
            "ApiKeysGetResponse": {
                "properties": {
                    "api_keys": {
                        "items": {
                            "$ref": "#/components/schemas/Api_Keys"
                        },
                        "type": "array",
                        "title": "Api Keys"
                    }
                },
                "type": "object",
                "required": [
                    "api_keys"
                ],
                "title": "ApiKeysGetResponse"
            },
            "ApiKeysPostRequest": {
                "properties": {
                    "guild_id": {
                        "type": "integer",
                        "title": "Guild Id"
                    }
                },
                "type": "object",
                "required": [
                    "guild_id"
                ],
                "title": "ApiKeysPostRequest"
            },
            "ApiKeysPostResponse": {
                "properties": {
                    "api_key": {
                        "$ref": "#/components/schemas/Api_Keys"
                    }
                },
                "type": "object",
                "required": [
                    "api_key"
                ],
                "title": "ApiKeysPostResponse"
            },
            "ApiResponse_ApiKeysDeleteResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ApiKeysDeleteResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[ApiKeysDeleteResponse]"
            },
            "ApiResponse_ApiKeysGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ApiKeysGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[ApiKeysGetResponse]"
            },
            "ApiResponse_ApiKeysPostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ApiKeysPostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[ApiKeysPostResponse]"
            },
            "ApiResponse_AuthorizePostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/AuthorizePostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[AuthorizePostResponse]"
            },
            "ApiResponse_DeleteUserEntriesDeleteResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/DeleteUserEntriesDeleteResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[DeleteUserEntriesDeleteResponse]"
            },
            "ApiResponse_GetGuildChannelsGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/GetGuildChannelsGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[GetGuildChannelsGetResponse]"
            },
            "ApiResponse_GetGuildEmojisGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/GetGuildEmojisGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[GetGuildEmojisGetResponse]"
            },
            "ApiResponse_GetGuildRolesGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/GetGuildRolesGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[GetGuildRolesGetResponse]"
            },
            "ApiResponse_GetGuildUsersGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/GetGuildUsersGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[GetGuildUsersGetResponse]"
            },
            "ApiResponse_GetHusqyForGuildGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/GetHusqyForGuildGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[GetHusqyForGuildGetResponse]"
            },
            "ApiResponse_GetSupportedLanguagesGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/GetSupportedLanguagesGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[GetSupportedLanguagesGetResponse]"
            },
            "ApiResponse_GetSupportedTimezonesGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/GetSupportedTimezonesGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[GetSupportedTimezonesGetResponse]"
            },
            "ApiResponse_GetSupportedUnitSystemsGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/GetSupportedUnitSystemsGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[GetSupportedUnitSystemsGetResponse]"
            },
            "ApiResponse_GetUserEntriesGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/GetUserEntriesGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[GetUserEntriesGetResponse]"
            },
            "ApiResponse_GetVariableReplacedContentGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/GetVariableReplacedContentGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[GetVariableReplacedContentGetResponse]"
            },
            "ApiResponse_HomeResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/HomeResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[HomeResponse]"
            },
            "ApiResponse_SettingsGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/SettingsGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[SettingsGetResponse]"
            },
            "ApiResponse_SettingsPutResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/SettingsPutResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[SettingsPutResponse]"
            },
            "ApiResponse_ValidateUserPermissionsPostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ValidateUserPermissionsPostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[ValidateUserPermissionsPostResponse]"
            },
            "Api_Keys": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "title": "Id"
                    },
                    "guild_id": {
                        "type": "string",
                        "title": "Guild Id"
                    },
                    "api_key": {
                        "type": "string",
                        "title": "Api Key"
                    },
                    "last_use": {
                        "anyOf": [
                            {
                                "type": "string",
                                "format": "date-time"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Last Use"
                    }
                },
                "type": "object",
                "required": [
                    "id",
                    "guild_id",
                    "api_key",
                    "last_use"
                ],
                "title": "Api_Keys"
            },
            "AuthorizePostRequest": {
                "properties": {
                    "access_token": {
                        "type": "string",
                        "title": "Access Token"
                    }
                },
                "type": "object",
                "required": [
                    "access_token"
                ],
                "title": "AuthorizePostRequest"
            },
            "AuthorizePostResponse": {
                "properties": {
                    "sub": {
                        "type": "string",
                        "title": "Sub"
                    },
                    "access_token": {
                        "type": "string",
                        "title": "Access Token"
                    },
                    "target": {
                        "type": "string",
                        "title": "Target"
                    }
                },
                "type": "object",
                "required": [
                    "sub",
                    "access_token",
                    "target"
                ],
                "title": "AuthorizePostResponse"
            },
            "DeleteUserEntriesDeleteResponse": {
                "properties": {
                    "message": {
                        "type": "string",
                        "title": "Message"
                    }
                },
                "type": "object",
                "required": [
                    "message"
                ],
                "title": "DeleteUserEntriesDeleteResponse"
            },
            "GetGuildChannelsGetResponse": {
                "properties": {
                    "channels": {
                        "items": {
                            "$ref": "#/components/schemas/HusqyChannel"
                        },
                        "type": "array",
                        "title": "Channels"
                    }
                },
                "type": "object",
                "required": [
                    "channels"
                ],
                "title": "GetGuildChannelsGetResponse"
            },
            "GetGuildEmojisGetResponse": {
                "properties": {
                    "emojis": {
                        "items": {
                            "$ref": "#/components/schemas/HusqyEmoji"
                        },
                        "type": "array",
                        "title": "Emojis"
                    }
                },
                "type": "object",
                "required": [
                    "emojis"
                ],
                "title": "GetGuildEmojisGetResponse"
            },
            "GetGuildRolesGetResponse": {
                "properties": {
                    "roles": {
                        "items": {
                            "$ref": "#/components/schemas/HusqyRole"
                        },
                        "type": "array",
                        "title": "Roles"
                    }
                },
                "type": "object",
                "required": [
                    "roles"
                ],
                "title": "GetGuildRolesGetResponse"
            },
            "GetGuildUsersGetResponse": {
                "properties": {
                    "users": {
                        "items": {
                            "$ref": "#/components/schemas/HusqyUser"
                        },
                        "type": "array",
                        "title": "Users"
                    }
                },
                "type": "object",
                "required": [
                    "users"
                ],
                "title": "GetGuildUsersGetResponse"
            },
            "GetHusqyForGuildGetResponse": {
                "properties": {
                    "guilds": {
                        "items": {
[...]
