/* Shared overwrites */
.main_button_overwrite {
  border-radius: 40px;
  font-size: var(--font-size-text);
}

/* Button styles */
.primary {
  background-color: var(--accent-color-2) !important;
  color: var(--secondary-color-2);
}

.secondary {
  color: var(--secondary-color-2) !important;
  border-color: var(--accent-color-1);
}

.tertiary {
  color: var(--secondary-color-2) !important;
  border-color: var(--secondary-color-2);
}
.discord_blurple {
  color: var(--secondary-color-2);
  background-color: var(--discord-blurple-color) !important;
  border-color: transparent;
}
.danger {
  background-color: var(--accent-color-3);
  border-color: transparent;
  color: var(--secondary-color-2);
}
