{
    "openapi": "3.1.0",
    "info": {
        "title": "Husqy.modules.giveaways",
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://api.husqy.xyz/v1/modules/giveaways"
        }
    ],
    "paths": {
        "/": {
            "get": {
                "summary": "Home Endpoint For The Husqy.Modules.Giveaways Microservice",
                "description": "Home endpoint for the Husqy.modules.giveaways microservice",
                "operationId": "Home_endpoint_for_the_Husqy_modules_giveaways_microservice__get",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_HomeResponse_"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/status": {
            "get": {
                "tags": [
                    "Status"
                ],
                "summary": "Get The Status Of The Giveaways Module In A Server",
                "description": "Status endpoint for the Husqy.modules.giveaways microservice",
                "operationId": "Get_the_status_of_the_giveaways_module_in_a_server_status_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_StatusGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/enable": {
            "post": {
                "tags": [
                    "Status"
                ],
                "summary": "Enable The Giveaways Module In A Server",
                "description": "Enable the giveaways module for a server",
                "operationId": "Enable_the_giveaways_module_in_a_server_enable_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EnablePostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EnablePostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/disable": {
            "post": {
                "tags": [
                    "Status"
                ],
                "summary": "Disable The Giveaways Module",
                "description": "Enable the giveaways module for a server",
                "operationId": "Disable_the_giveaways_module_disable_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DisablePostRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_DisablePostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/settings": {
            "get": {
                "tags": [
                    "Settings"
                ],
                "summary": "Get The Settings Of The Giveaways Module In A Server",
                "description": "Get the settings for Husqy giveaways module for a guild",
                "operationId": "Get_the_settings_of_the_giveaways_module_in_a_server_settings_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_SettingsGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Settings"
                ],
                "summary": "Update The Settings Of The Giveaways Module In A Server",
                "description": "Change the settings for Husqy giveaways module for a guild",
                "operationId": "Update_the_settings_of_the_giveaways_module_in_a_server_settings_put",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ModuleGiveawaysUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_SettingsPutResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Settings"
                ],
                "summary": "Delete The Settings Of The Giveaways Module In A Server",
                "description": "Delete the settings for Husqy giveaways module for a guild",
                "operationId": "Delete_the_settings_of_the_giveaways_module_in_a_server_settings_delete",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SettingsDeleteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_SettingsDeleteResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entries": {
            "get": {
                "tags": [
                    "Entries"
                ],
                "summary": "Get All Giveaways Entries In A Server",
                "description": "Get the entries for Husqy giveaways module for a guild",
                "operationId": "Get_all_giveaways_entries_in_a_server_entries_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Entries"
                ],
                "summary": "Create A New Giveaway",
                "description": "Get the response for Husqy giveaways module for a guild",
                "operationId": "Create_a_new_giveaway_entries_post",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntriesPostRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesPostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entries/{entry_id}": {
            "get": {
                "tags": [
                    "Entries"
                ],
                "summary": "Get The Info About A Giveaway",
                "description": "Get the response for Husqy giveaways module for a guild",
                "operationId": "Get_the_info_about_a_giveaway_entries__entry_id__get",
                "parameters": [
                    {
                        "name": "entry_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Entry Id"
                        }
                    },
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesEntryIdGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Entries"
                ],
                "summary": "Delete A Giveaway",
                "description": "Delete a giveaway in a guild",
                "operationId": "Delete_a_giveaway_entries__entry_id__delete",
                "parameters": [
                    {
                        "name": "entry_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Entry Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntriesEntryIdDeleteRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesEntryIdDeleteResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Entries"
                ],
                "summary": "Send A Giveaways Content",
                "description": "Get the response for Husqy giveaways module for a guild",
                "operationId": "Send_a_giveaways_content_entries__entry_id__put",
                "parameters": [
                    {
                        "name": "entry_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Entry Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntriesEntryIdPutRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesEntryIdPutResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entries/{entry_id}/enter": {
            "post": {
                "tags": [
                    "Entries"
                ],
                "summary": "Enter A Giveaway",
                "description": "Enter a giveaway in a guild",
                "operationId": "Enter_a_giveaway_entries__entry_id__enter_post",
                "parameters": [
                    {
                        "name": "entry_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Entry Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntriesEntryIdEnterPostRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesEntryIdEnterPostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entries/{entry_id}/leave": {
            "post": {
                "tags": [
                    "Entries"
                ],
                "summary": "Leave A Giveaway",
                "description": "Leave a giveaway in a guild",
                "operationId": "Leave_a_giveaway_entries__entry_id__leave_post",
                "parameters": [
                    {
                        "name": "entry_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Entry Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntriesEntryIdLeavePostRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesEntryIdLeavePostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/entries/{entry_id}/reroll": {
            "post": {
                "tags": [
                    "Entries"
                ],
                "summary": "Reroll A Giveaway",
                "description": "Reroll a giveaway in a guild",
                "operationId": "Reroll_a_giveaway_entries__entry_id__reroll_post",
                "parameters": [
                    {
                        "name": "entry_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Entry Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntriesEntryIdRerollPostRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_EntriesEntryIdRerollPostResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-409-conflict",
                                    "title": "Conflict",
                                    "status": 409,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/privacy/get-user-entries": {
            "get": {
                "tags": [
                    "Privacy"
                ],
                "summary": "Get The Privacy Data Of A User For The Husqy.Modules.Giveaways Microservice",
                "description": "Get user entries",
                "operationId": "Get_the_privacy_data_of_a_user_for_the_Husqy_modules_giveaways_microservice_privacy_get_user_entries_get",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    },
                    {
                        "name": "privacy_member_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Privacy Member Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_GetUserEntriesGetResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/privacy/delete-user-entries": {
            "delete": {
                "tags": [
                    "Privacy"
                ],
                "summary": "Delete The Privacy Data Of A User For The Husqy.Modules.Polls Microservice",
                "description": "Delete user entries",
                "operationId": "Delete_the_privacy_data_of_a_user_for_the_Husqy_modules_polls_microservice_privacy_delete_user_entries_delete",
                "parameters": [
                    {
                        "name": "guild_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Guild Id"
                        }
                    },
                    {
                        "name": "privacy_member_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Privacy Member Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResponse_DeleteUserEntriesDeleteResponse_"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-400-bad-request",
                                    "title": "ValidationError",
                                    "status": 400,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-401-unauthorized",
                                    "title": "Unauthorized",
                                    "status": 401,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-403-forbidden",
                                    "title": "Forbidden",
                                    "status": 403,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-404-not-found",
                                    "title": "NotFound",
                                    "status": 404,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                },
                                "example": {
                                    "type": "https://datatracker.ietf.org/doc/html/rfc9110#name-500-internal-server-error",
                                    "title": "InternalServerError",
                                    "status": 500,
                                    "detail": "Additional error context."
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ApiResponse_DeleteUserEntriesDeleteResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/DeleteUserEntriesDeleteResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[DeleteUserEntriesDeleteResponse]"
            },
            "ApiResponse_DisablePostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/DisablePostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[DisablePostResponse]"
            },
            "ApiResponse_EnablePostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EnablePostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EnablePostResponse]"
            },
            "ApiResponse_EntriesEntryIdDeleteResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesEntryIdDeleteResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesEntryIdDeleteResponse]"
            },
            "ApiResponse_EntriesEntryIdEnterPostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesEntryIdEnterPostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesEntryIdEnterPostResponse]"
            },
            "ApiResponse_EntriesEntryIdGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesEntryIdGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesEntryIdGetResponse]"
            },
            "ApiResponse_EntriesEntryIdLeavePostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesEntryIdLeavePostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesEntryIdLeavePostResponse]"
            },
            "ApiResponse_EntriesEntryIdPutResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesEntryIdPutResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesEntryIdPutResponse]"
            },
            "ApiResponse_EntriesEntryIdRerollPostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesEntryIdRerollPostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesEntryIdRerollPostResponse]"
            },
            "ApiResponse_EntriesGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesGetResponse]"
            },
            "ApiResponse_EntriesPostResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/EntriesPostResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[EntriesPostResponse]"
            },
            "ApiResponse_GetUserEntriesGetResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/GetUserEntriesGetResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[GetUserEntriesGetResponse]"
            },
            "ApiResponse_HomeResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/HomeResponse"
                    }
                },
                "type": "object",
                "required": [
                    "data"
                ],
                "title": "ApiResponse[HomeResponse]"
            },
            "ApiResponse_SettingsDeleteResponse_": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/SettingsDeleteResponse"
                    }
                },
                "type": "object",
[...]
